<!DOCTYPE html>
<html>
<!-- Sidebar -->
<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a>
        </a>
    </li>
    <h4 class="ui horizontal divider header" style="color: white;">
    <i class="dashboard icon"></i>
        Dashboard
    </h4>
    <li>
        <a href="./index.jsp?page=dashboard">儀表版</a>
    </li>
    <li>
        <a href="../../frontend/index.jsp">回到前台</a>
    </li>
    <h4 class="ui horizontal divider header" style="color: white;">
    <i class="cubes icon"></i>
        Products
    </h4>
    <li>
        <a href="./index.jsp?page=products">產品管理</a>

    </li>
    <li>
        <a href="./index.jsp?page=order">訂單管理</a>
    </li>
    <h4 class="ui horizontal divider header" style="color: white;">
    <i class="user icon"></i>
        Membership
    </h4>
    <li>
        <a href="./index.jsp?page=member">會員管理</a>
    </li>
</ul>
</div>
<!-- /#sidebar-wrapper -->

</html>
